/* Block & Section Elements */
.page__sb section {
    margin-block-start: 0;
    margin-block-end: 1em;
    margin: 13px 0 0 0;
    background-color: #ffffff;
}

/* Background colours */

body.page__sb {
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
}

section #styleboard .header {
    position: relative;
    text-align: center;
    vertical-align: middle;
    -moz-vertical-align: 'baseline-align-middle';
    padding-block-start: 10px;
    padding-block-end: 10px;
    background-color: white;
    border: 1px solid rgba(233,233,233,1);
    height: auto;
}

section #styleboard .header h2 {
    font-family: 'OakesGrotesk-Bold';
    font-size: 1.24em;
    line-height: 1.8em;
    overflow: hidden;
    margin: 0;
}

section #styleboard .header .icon {
    width: 60px;
    height: 60px;
    position: absolute;
    background: url('../src/images/ico/items_ico.svg') center center no-repeat;
    right: 0;
    top: 0;
}

section #styleboard .header h2.items {
    padding-top: 0.3em;
    background-size: auto;
}

#styleboard {
    margin-left: 25px;
    padding-bottom: 80px;
    text-align: -webkit-center;
    position: relative;
}

#styleboard ul.styleboard__outfits {
    padding: 0;
    margin: 0;
}

#styleboard ul.styleboard__outfits li {
    display: inline-flex;
}

#styleboard .styleboard__tabs {
    width: 375px;
    height: 50px;
    margin: 10px 0 0 0;
    padding: 0px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(233,233,233,1);
    display: none;
}

#styleboard .styleboard__tabs li {
    display: inline-block;
    width: 32.332%;
    height: 40px;
    line-height: 50px;
    padding: 5px 0;
    text-align: center;
}

#styleboard .styleboard__tabs li.active {
    display: inline-block;
    width: 32.0%;
    height: 50px;
    background-color: rgba(255,255,255,1);
}

#styleboard .styleboard__tabs li a {
    display: block;
    font-size: 15px;
    font-family: 'OakesGrotesk-Semi-Bold';
    letter-spacing: -0.0133em;
    color: rgb(10,10,10);
}

#glide__tags {
    display: none;
    width: 375px;
    overflow: hidden;
    position: relative;
}

#glide__tags .scroll-left-shadow {
    width: 50px;
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(242,242,242,1);
    background: linear-gradient(90deg, rgba(242,242,242,1) 20%, rgba(242,242,242,0) 100%);
    z-index: 5;
}

#glide__tags .scroll-right-shadow {
    width: 70px;
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(242,242,242,1);
    background: linear-gradient(90deg, rgba(242,242,242,0) 20%, rgba(242,242,242,1) 100%);
    z-index: 5;
}

#glide__tags ul.glide__slides, #glide__tags li.glide__slide {
    width: 375px;
}

#styleboard ul.tag {
    margin: 11px 0 5px 0;
    padding: 5px 0 7px 7px;
    font-size: 11px;
    list-style: none;
    font-family: 'OakesGrotesk-Medium';
}

#glide__tags ul.tag li,
#desktop__tags ul.tag li {
    display: inline-grid;
    width: fit-content;
}

#glide__tags ul.tag li span,
#desktop__tags ul.tag li span {
    width: auto;
    height: auto;
    margin: 0 4px;
    padding: 4px 14px;
    font-size: 11px;
    text-transform: lowercase;
    background-color: #f5f5f5;
    border: 1px solid #cfcfcf;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#glide__tags ul.tag li span:hover,
#desktop__tags ul.tag li span:hover {
    background-color: #ffffff;
    cursor: pointer;
}

#styleboard .glide__arrows {
    width: 375px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
}

#styleboard .tags__arrow--right {
    position: absolute;
    right: -12px;
    top: 27px;
    z-index: 10;
    width: 45px;
    height: max-content;
    border: none;
    border-radius: 50%;
    text-indent: -9999em;
    background: url('../src/images/chevron-right.png') center center no-repeat;
    background-size: 1.6em;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

#styleboard .tags__arrow--left {
    position: absolute;
    left: -12px;
    top: 27px;
    z-index: 10;
    width: 45px;
    height: fit-content;
    border: none;
    border-radius: 50%;
    text-indent: -9999em;
    background: url('../src/images/chevron-left.png') 9px center no-repeat;
    background-size: 1.6em;
    margin: 0;
    box-shadow: none;
}

// Styleboard outfit

#styleboard .outfit_widget {
    width: 310px;
    height: 310px;
    padding: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid rgba(233,233,233,1);
    position: relative;
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
    text-align: -webkit-left;
}

#styleboard li.outfit_widget:nth-child(4n){
    margin-right: 0;
}

#styleboard .outfit_widget img.outfit_img {
    position: absolute;
    left: 80px;
    top: 30px;
}

#styleboard .outfit_widget .choose_love {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 6px;
    top: 6px;
    border-radius: 50%;
    z-index: 2;
    background: #f3f3f3 url('../src/images/ico/heart_ico.svg') center center no-repeat;
}

#styleboard .outfit_widget .bottom_row {
    position: absolute;
    width: 100%;
    height: 24px;
    padding: 12px;
    bottom: 4px;
    left: 0;
    z-index: 5;
    font-size: 12px;
}

#styleboard .outfit_widget .bottom_row .name_tag {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 44px;
    height: 24px;
}

#styleboard .outfit_widget .bottom_row .name_tag .profile {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 6px;
    bottom: 6px;
    overflow: hidden;
    border-radius: 50%;
}

#styleboard .outfit_widget .bottom_row .name_tag span {
    display: inline-block;
    width: 100px;
    height: 30px;
    position: absolute;
    left: 34px;
    bottom: -7px;
    font-size: 9px;
    font-weight: bold;
}

#styleboard .outfit_widget .bottom_row .likes {
    width: 22px;
    height: 22px;
    padding-left: 16px;
    line-height: 24px;
    font-size: 10px;
    font-weight: bold;
    background: url('../src/images/ico/heart_ico.svg') left center no-repeat;
    background-size: 11px 16px;
    position: absolute;
    left: 116px;
    bottom: 10px;
}

#styleboard .outfit_widget .bottom_row button {
    position: absolute;
    right: 10px;
    bottom: 6px;
    border: none;
    background: transparent;
    text-indent: -9999em;
    width: 89px;
    height: 33px;
    background: url('../src/images/view_outfit_sprite.png') 0px -33px no-repeat;
}

#styleboard .outfit_widget .bottom_row button:hover {
    background: url('../src/images/view_outfit_sprite.png') 0px 0px no-repeat;
}

@media screen and (min-width: 1400px) {

    .page__sb section {
        margin: 13px 0 0 0;
    }
    #styleboard .styleboard__tabs {
        display: none;
    }
    #styleboard .outfit_widget {
        width: 314px;
        height: 314px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #styleboard .tags {
        padding: 10px 0;
        margin: 0;
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 210px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }

}

@media screen and (max-width: 1400px) {

    .page__sb section {
        margin: 13px 0 0 0;
    }
    #styleboard .styleboard__tabs {
        display: none;
    }
    #styleboard .outfit_widget {
        width: 269px;
        height: 269px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #styleboard .tags {
        padding: 10px 0;
        margin: 0;
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 170px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }

}

@media screen and (max-width: 1200px) {
    #styleboard .styleboard__tabs {
        display: none;
    }
    #styleboard .outfit_widget {
        width: 224px;
        height: 224px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 140px;
        left: 55px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }

}

@media screen and (max-width: 990px) {

    #styleboard .styleboard__tabs {
        display: block;
        width: 100%;
        background-color: rgba(245,245,245,1);
        border-bottom: none;
    }
    #styleboard .styleboard__tabs li.active {
        border-left: 1px solid rgba(233,233,233,1);
        border-right: 1px solid rgba(233,233,233,1);
    }
    #styleboard .outfit_widget {
        width: 330px;
        height: 330px;
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 240px;
        left: 75px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }

}

@media screen and (max-width: 768px) {

    #styleboard .styleboard__tabs {
        display: block;
        width: 100%;
        background-color: none;
    }
    #styleboard {
        margin-left: 0px;
    }
    #styleboard .outfit_widget {
        width: 520px;
        height: 330px;
        margin-right: 0px;
        margin-bottom: 10px;        
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 240px;
        left: 145px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }

}

@media screen and (max-width: 600px) {

    #styleboard .styleboard__tabs {
        display: block;
        width: 100%;
        background-color: none;
    }
    #styleboard {
        margin-left: 0px;
    }
    #styleboard .outfit_widget {
        width: 510px;
        height: 330px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 240px;
        left: 145px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }

}

@media screen and (max-width: 480px) {

    #glide__tags {
        display: block;
    }
    #desktop__tags {
        display: none;
    }
    
}

@media screen and (max-width: 375px) {

    .page__sb section {
        margin: -4px 0 0 0;
    }
    #styleboard {
        margin-left: 0px;
        background-color: #dddddd;
    }
    #styleboard .outfit_widget {
        width: 375px;
        height: 330px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    #styleboard .outfit_widget img.outfit_img {
        height: 230px;
        left: 100px;
    }
    section #styleboard .header h2.items {
        padding-top: 0.3em;
    }
    #styleboard .styleboard__tabs {
        margin: 0px;
        background-color: rgba(220,220,220,1);
        display: block;
    }
    #styleboard .header {
        background-color: rgb(255,255,255);
    }
    #styleboard ul.tag {
        padding: 15px 0;
        margin: 0 0;
        background-color: rgba(255,255,255,0.5);
    }
    #styleboard .tags span {
        margin: 4px;
    }
    #glide__tags {
        display: block;
    }
    #desktop__tags {
        display: none;
    }

}